<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title> Responsiive Admin Dashboard </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/page.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>
    <div class="sidebar">
        <div class="logo-details">
            <i class="fa-solid fa-s fa-spin"></i>
            <span class="logo_name">ScaleEdge</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="#" class="active">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-house"></i>
                    <span class="links_name">Home</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-user"></i>
                    <span class="links_name">User Manegement</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-pencil"></i>
                    <span class="links_name">Lead Management</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-gear"></i>
                    <span class="links_name">Setting</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span class="links_name">Log Out</span>
                </a>
            </li>
            <li>
        </ul>
    </div>
    <section class="home-section">
        <nav>
            <div class="sidebar-button">
                <i class='bx bx-menu sidebarBtn'></i>
                <span class="dashboard">Dashboard</span>
            </div>

            <div class="search-box">
                <input type="text" placeholder="Search...">
                <i class='bx bx-search'></i>
            </div>
            <div class="profile-details">
                <i class="fa-solid fa-bell"></i>
            </div>


        </nav>

        <div class="title">
            <i class="fa-solid fa-user title-1"></i>
            <span class="text">User</span>

        </div>
        <div class="section">
            <div class="container">
                <div class="page-title">
                    <h4>Product Add Sub Category</h4>
                    <h6>Create new product Category</h6>
                </div>
                <form class="add-card" action="/add" method="post" enctype="multipart/form-data" id="formData">
                    <div class="card-content">
                        <div class="row" id="category-form">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="">Name</label>
                                    <input type="text" id="user_name" name="user_name">

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="">E-mail</label>
                                    <input type="text" id="email" name="email">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="">Mobile</label>
                                    <input type="text" id="mobile" name="mobile">
                                </div>
                            </div>
                            <div class="col-md-4 my-3">
                                <div class="mb-3">
                                    <label for="formFile" class="form-label">Choose Image</label>
                                    <input class="form-control" type="file" name="Imagepath" id="Imagepath">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="">Password</label>
                                    <input type="text" id="password" name="password">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <a href="#" id="submit-btn" class=" btn btn-submit">Submit</a>
                                <a href="#" class=" btn btn-cancel">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        </div>

    </section>

    <script>
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".sidebarBtn");
        const body = document.querySelector("body"),
            modeToggle = body.querySelector(".mode-toggle");
        sidebarBtn.onclick = function () {
            sidebar.classList.toggle("active");
            if (sidebar.classList.contains("active")) {
                sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
            } else
                sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
        }

        document.getElementById("submit-btn").addEventListener("click", function (event) {
            event.preventDefault(); 

            var nameInput = document.getElementById("user_name");
            var emailInput = document.getElementById("email");
            var mobileInput = document.getElementById("mobile");
            var passwordInput = document.getElementById("password");
            var profileImageInput = document.getElementById("Imagepath");

            if (nameInput.value === "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please enter a name',
                });
                return;
            }

            if (emailInput.value === "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please enter an email',
                });
                return;
            }

            if (mobileInput.value === "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please enter a mobile number',
                });
                return;
            }
            if (passwordInput.value === "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please enter a Password',
                });
                return;
            }

            if (!profileImageInput.files || profileImageInput.files.length === 0) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please choose an image',
                });
                return;
            }

            var formData = new FormData();
            formData.append("user_name", nameInput.value);
            formData.append("email", emailInput.value);
            formData.append("mobile", mobileInput.value);
            formData.append("password", passwordInput.value);
            formData.append("Imagepath", profileImageInput.files[0]);

            fetch("/add", {
                method: "POST",
                body: formData,
            })
                .then((response) => {
                    if (response.ok) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Success',
                            text: 'User added successfully',
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = "/dashboard";
                            }
                        });
                    } else {
                        throw new Error("Failed to add user");
                    }
                })
                .catch((error) => {
                    console.error(error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Failed to add user',
                    });
                });
        });


    </script>


</body>

</html>