<html>
  <head>
    <title>Face App</title>
    <link rel="stylesheet" href="/stylesheets/face.css" />
  </head>
  <body>
    <div id="container">
      <video id="video" width="640" height="480" autoplay></video>
      <div id="btn">
        <button class="button-20" id="checkin-btn">Punch in</button>
        <button class="button-20" id="checkout-btn">Punch out</button>
      </div>
    </div>
    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/face-api.js"></script>
    <script src="js/faceSystem1.js"></script>
    <script src="js/script.js"></script>
  </body>

</html>


